@charset="UTF-8";


#init {
    height: 100%;
    margin: 0;
    background: url("../../../image/호스트하우스.jpg") no-repeat 23% 0%;
    background-size: cover;
    position: relative;
    overflow: auto;
}


*{
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.login-container {
    clear: both;
    min-width: 1024px;
    min-height: 880px;
    padding-top: 109px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    box-sizing: border-box;
}
#top_a {
    color: #333;
    background-color: transparent;
}
.logo_layer {
    width: 190px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 16px;
    background: url('../../../image/yogiwhite.png') no-repeat;
    background-size: 190px auto;
    text-indent: -9999px;
}
.logo {
    width: 156.8px;
    height: 27.2px;
    vertical-align: middle;
    border: 0 none;
}
form {
    margin: 0;
    padding: 0;
}
.login-layer {
    width: 384px;
    min-height: 270px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 4px;
    border: none;
    padding: 0;
    min-width: 0;
}
.login-layer h1 {
    width: auto;
    height: 16px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 40px;
    margin-bottom: 24px;
    margin-left: 56px;
    font: 18px 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', sans-serif;
    font-style: normal;
    font-stretch: normal;
}
.login-layer .input-title {
    width: 34px;
    height: 18px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.56);
    margin-left: 56px;
    padding-left: 16px;
    box-sizing: border-box;
}
.login-layer input[type="text"], .login-layer input[type="password"] {
    width: 272px;
    height: 56px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.96);
    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fff;
    box-shadow: none;
    transition: none;
}
input {
    vertical-align: middle;
    font: 12px 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
.form-control {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
}
input[type=checkbox] {
    margin: 4px 0 0;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
}
.login-layer label {
    padding-left: 24px;
    vertical-align: middle;
}
label {
    margin: 0;
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
}
label, button {
    cursor: pointer;
}
.login-layer label span {
    padding-left: 8px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: rgba(0, 0, 0, 0.56);
}
.login-layer .find-pw {
    width: 80px;
    height: 18px;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    color: rgba(0, 0, 0, 0.56);
    vertical-align: middle;
    float: right;
    margin-right: 56px;
    margin-top: 2px;
}
.login-layer .find-pw a {
    color: rgba(0, 0, 0, 0.56);
    text-decoration: none;
    background-color: transparent;
}
.login-layer .login-button {
    width: 272px;
    border-radius: 4px;
    background-color: #f2114c;
    margin-top: 16px;
    margin-left: 56px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    border: 0;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
}
.login-layer .btn-default {
    padding-top: 16px;
    background-color: #546e7a;
    width: 272px;
    border-radius: 4px;
    margin-top: 16px;
    margin-left: 56px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    border: 0;
}
.login-copyright {
    width: 302px;
    height: 14px;
    font-size: 12px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    top: 0px;
    width: 500px;
    height: 300px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}
.modal_header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
}
.modal-title {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    line-height: 1.42857143;
    font: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', sans-serif;
    font-style: normal;
    font-stretch: normal;
    padding: 0;
    width: 50px;
}
.modal_overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}
.modal-body {
    height: 230px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
}
.modal_body strong {
    display: block;
    padding-bottom: 10px;
    font-size: 18px;
}
.modal_body .num_input {
	padding-right: 120px;
    margin-bottom: 20px;
    box-sizing: border-box;
	display: flex;
}
.form-control {
	height: 56px;
    width: 90%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4285;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
.modal_btn {
    background: #f2114c;
    width: 110px;
    height: 56px;
    position: relative;
    color: #fff;
    border: none;
    margin-left: 20px;
}

.hidden {
    display: none;
}
#btn_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
#open {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.submit-layer {
    width: 980px;
    text-align: center;
    margin-bottom: 30px;
    padding: 8px 0 32px 0;
}
.submit-layer .btn-submit {
    width: 177px;
    height: 48px;
    font-size: 18px;
    line-height: 0;
    border: 0;
}
.btn-yeogi {
    background-color: #f2114c;
    color: #fff;
    font-weight: 500;
}


