@charset="UTF-8";


#init {
    height: 100%;
    margin: 0;
    background: url("../image/호스트하우스.jpg") no-repeat 23% 0%;
    background-size: cover;
    position: relative;
    overflow: auto;
}

*{
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
#top_a {
    color: #333;
    background-color: transparent;
}

.login-container {
    clear: both;
    min-width: 1024px;
    min-height: 880px;
    padding-top: 109px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    box-sizing: border-box;
}
#top_a {
    color: #333;
    background-color: transparent;
}
.logo_layer {
    width: 190px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 16px;
    background: url('../image/요기오때흰색로고.png') no-repeat;
    background-size: 190px auto;
    text-indent: -9999px;
}
.logo {
    width: 156.8px;
    height: 27.2px;
    vertical-align: middle;
    border: 0 none;
}
form {
	margin: 0;
	padding: 0;
}
.login-layer {
    width: 384px;
    min-height: 270px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 4px;
    border: none;
    padding: 0;
    min-width: 0;
}
.login-layer h1 {
    width: auto;
    height: 16px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 40px;
    margin-bottom: 24px;
    margin-left: 56px;
    font: 18px 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', sans-serif;
    font-style: normal;
    font-stretch: normal;
}
.login-layer .noti-title {
    width: 268px;
    height: 12px;
    font-weight: 500;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.56);
    margin-top: -8px;
    margin-left: 56px;
    position: absolute;
}
.login-layer .input-title {
    width: 34px;
    height: 18px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.56);
    margin-left: 56px;
    padding-left: 16px;
    box-sizing: border-box;
}
.login-layer .login-button {
    width: 272px;
    height: 56px;
    border-radius: 4px;
    background-color: #f2114c;
    margin-top: 16px;
    margin-left: 56px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    border: 0;
}
.login-layer a.login-button {
    padding-top: 16px;
    background-color: #546e7a;
}
.login-layer input[type="text"], .login-layer input[type="password"] {
    width: 272px;
    height: 56px;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    transition: none;
    border: 1px solid #fff;
    box-shadow: none;
    transition: none;
}
.login-layer #veriable-form div {
    margin-bottom: 10px;
}
input {
	vertical-align: middle;
    font: 12px 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
.form-control {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
}
input[type=checkbox] {
    margin: 4px 0 0;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
}
.login-layer label {
	padding-left: 24px;
    vertical-align: middle;
}
label {
    margin: 0;
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
}
label, button {
    cursor: pointer;
}
.login-layer label span {
    padding-left: 8px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: rgba(0, 0, 0, 0.56);
}
.login-layer label span strong {
    font-weight: bold;
    color: #000;
}
.login-layer #veriable-form div {
    margin-bottom: 10px;
}
.login-layer #veriable-form div a {
    color: #000;
    text-decoration: underline;
}
.login-layer #veriable-form label b {
    font-weight: normal;
}
.login-layer label span b {
    color: #000;
}
.login-layer .confirm a#host_important {
    text-decoration: underline;
}
.login-layer .find-pw {
    width: 80px;
    height: 18px;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    color: rgba(0, 0, 0, 0.56);
    vertical-align: middle;
    float: right;
    margin-right: 56px;
    margin-top: 2px;
}
.login-layer .find-pw a {
    color: rgba(0, 0, 0, 0.56);
    text-decoration: none;
    background-color: transparent;
}
.login-layer .login-button {
    width: 272px;
    border-radius: 4px;
    background-color: #f2114c;
    margin-top: 16px;
    margin-left: 56px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    border: 0;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
}
.login-layer a.login-button {
    padding-top: 16px;
    background-color: #546e7a;
    width: 272px;
    border-radius: 4px;
    margin-top: 16px;
    margin-left: 56px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    border: 0;
}
.login-copyright {
    width: 302px;
    height: 14px;
    font-size: 12px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    box-sizing: border-box;
}
.modal-dialog {
    width: 600px;
    margin: 30px auto;
    position: relative;
    margin: 10px;
    box-sizing: border-box;
}
.modal-content {
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
}
.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
    margin-top: -2px;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    vertical-align: middle;
}
button .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
.modal-title {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    line-height: 1.42857143;
    font: 12px 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', sans-serif;
    font-style: normal;
    font-stretch: normal;
    padding: 0;
}
.modal-body {
    height: 550px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.pull-left {
    float: left!important;
}
.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkbox label {
    font-size: 14px;
    color: rgba(0,0,0,0.48);
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    margin: 0;
    display: inline-block;
    max-width: 100%;
}
.checkbox input[type=checkbox] {
    position: absolute;
    margin-left: -20px;
}
input[type=checkbox] {
    margin: 4px 0 0;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
}
.pull-right {
    float: right!important;
    display: block;
}
.btn-yeogi {
    background-color: #f2114c;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font: 12px 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', sans-serif;
    font-style: normal;
    font-stretch: normal;
    margin: 0;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
}
.fade.in {
    opacity: 1;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
}
.fade {
    transition: opacity .15s linear;
}
.modal.in .modal-dialog {
    transform: translate(0,0);
}
.modal_confirm_num .modal-dialog {
    width: 440px;
}
.modal-dialog {
    margin: 30px auto;
    position: relative;
}
.modal-content {
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
}
.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}




