@charset="UTF-8";
footer {
    overflow: hidden;
    margin-top: 120px;
    padding: 63px 31px 40px 31px !important;
    border-top: 1px solid rgba(0,0,0,0.08);
    background: rgb(245,245,245);
    font-size: 13px;
    line-height: 20px;
    color: rgba(0,0,0,0.38);
}
footer a {
    color: rgba(0,0,0,0.38);
}
footer .align {
    width: 1024px;
    margin: 0 auto;
}
footer .link {
    overflow: hidden;
}
footer .link li {
    float: left;
    margin-bottom: 5px;
    line-height: normal;
}
footer .link li span {
    display: inline-block;
    position: relative;
    top: -2px;
    width: 24px;
    font-size: 11px;
    text-align: center;
}
footer .link li:nth-of-type(3) a {
    color: rgba(0,0,0,0.87);
}
footer .link li:nth-child(5), footer .link li:nth-child(8) {
    clear: none;
}
footer .link li button {
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 13px;
    padding: 0;
    border: none;
    background: none;
    line-height: 1;
    color: rgba(0,0,0,0.38);
}
footer .link li:nth-child(6) {
    clear: both;
}
footer .link li:nth-child(6) {
    clear: both;
}
footer .link li:last-child {
    margin-bottom: 0;
}
footer p {
    clear: both;
    padding: 37px 0 24px 0;
}
footer p b {
    display: inline-block;
    margin-right: 10px;
}
footer p span {
    display: inline-block;
}
address {
    font-style: normal;
    font-weight: normal;
}
footer address {
    display: inline-block;
    line-height: 22px;
}
footer address span {
    display: block;
    padding-bottom: 7px;
}
footer address .order {
    display: block;
    padding: 6px 0;
}
.btn_go_top {
	display: block;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 20;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background: url("https://image.goodchoice.kr/images/web_v3/ico_top.png") 0 0 no-repeat;
    background-size: 40px auto;
    text-indent: -9999px;
}