@charset="UTF-8";
header {
    background: #f7323f;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
    transition: 0.4s;
    z-index: 210;
}
header.scroll {
    background: #fff;
    box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 10%);
}
header section {
    position: relative;
    width: 1024px;
    height: 64px;
    background: none;
    margin: 0 auto;
}
header section h1 {
    position: absolute;
    top: 17px;
    left: 36px;
    width: 125px;
    height: 36px;
    margin: 0;
    background: url('../../image/요기오때흰색로고.png') no-repeat;
    background-size: 100px auto;
}
header section h1 a {
    display: block;
    text-indent: -9999px;
}
header.scroll .gnb_pc li a, header.scroll .gnb_pc li button {
    color: rgba(0,0,0,0.87);
}
header.scroll section h1{
    background: url('../../image/요기오때빨간색로고.png') no-repeat;
    background-size: 100px auto
}
header section .btn_menu {
    display: none;
}
.wrap {
    width: 100%;
    background: #fff;
}
.wrap.show {
    opacity: 1;
    visibility: visible;
}
.pc div.hidden {
    width: 0px;
    transition-duration: 0.5s;
}
.pc .gnb_pc {
    width: auto;
    text-align: right;
    display: inline-block;
    position: absolute;
    top: 27px;
    right: 34px; 
    padding-left: 5px;
}
.gnb_pc li {
    display: inline-block;
    position: relative;
    min-width: 53px;
    min-height: 35px;
    margin-left: 30px;
    vertical-align: top;
}
.gnb_pc li button {
    border: none;
    padding: 0;
    background: none;
    font-size: 18px;
    line-height: 1;
    color: rgba(255,255,255,0.8);
    letter-spacing: 0;
}
.gnb_pc li button:hover {
    color: rgba(255, 255, 255, 1);
    opacity: 1;
}
.gnb_pc .list_03 {
    top: 30px;
    left: -65px;
    width: 184px;
}
.gnb_pc li ul {
    display: none;
    animation: menuAni 0.6s;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    padding: 32px;
    background: #fff;
    text-align: left;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 20%);
}

.gnb_pc .over:hover ul {
    display: block;
}
.gnb_pc li ul li {
    display: block; 
    min-width: auto;
    min-height: auto;
    margin: 0 0 14px 0;
}
.gnb_pc li a:hover {
    color: #fff;
}
.gnb_pc li ul li a:hover {
    color: rgba(0,0,0,0.87);
}
.gnb_pc li ul li a {
    overflow: visible !important;
    display: block;
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    margin: 0;
    font-size: 16px;
    color: rgba(0,0,0,0.87);
}
.gnb_pc li ul li a span{
    display:inline-block;
    padding-left:6px;
    font-weight:bold;
    color:rgb(230,28,81)
}
.gnb_pc li ul li:last-child {
    margin-bottom: 0;
}
.gnb_pc li a {
    display: inline-block;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0;
}