@charset "utf-8";


	 	html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            box-sizing: border-box;
        }
        html, body {
            margin: 0;
            padding: 0;
            border: 0;
            box-sizing: border-box;
            font-family: 'Pretendard', 'Apple SD Gothic Neo', '맑은 고딕', '맑은고딕', 'Malgun Gothic', sans-serif;
            font-size: 14px;
            line-height: 1;
            color: rgba(0,0,0,0.87);
            -webkit-text-size-adjust: none;
            display: block;
        }

	 	header {
            background: #f7323f;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 72px;
            transition: 0.4s;
            z-index: 210;
        }
        header.scroll {
            background: #fff;
            box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 10%);
        }
        header section {
            position: relative;
            width: 1024px;
            height: 64px;
            background: none;
            margin: 0 auto;
        }
        header section h1 a {
            position: absolute;
            top: 17px;
            left: 36px;
            width: 125px;
            height: 36px;
            margin: 0;
            background-size: 100px auto;
        }
        header section h1 a {
            display: block;
            text-indent: -9999px;
        }
        header.scroll .gnb_pc li a, header.scroll .gnb_pc li button {
            color: rgba(0,0,0,0.87);
        }
        header.scroll section h1 a {
            background: url('../../image/요기오때빨간색로고.png') no-repeat;
            background-size: 100px auto
        }
        header section .btn_menu {
            display: none;
        }
        .wrap {
            width: 100%;
            background: #fff;
        }
        .wrap.show {
            opacity: 1;
            visibility: visible;
        }
        .pc .gnb_pc {
            width: auto;
            text-align: right;
            display: inline-block;
            position: absolute;
            top: 27px;
            right: 34px; 
        }
        .gnb_pc li {
            display: inline-block;
            position: relative;
            min-width: 53px;
            min-height: 35px;
            margin-left: 30px;
            vertical-align: top;
        }
        .gnb_pc li button {
            border: none;
            padding: 0;
            background: none;
            font-size: 18px;
            line-height: 1;
            color: rgba(255,255,255,0.8);
            letter-spacing: 0;
        }
        .gnb_pc li button:hover {
            color: rgba(255, 255, 255, 1);
            opacity: 1;
        }
        .gnb_pc .list_03 {
            top: 30px;
            left: -65px;
            width: 184px;
        }
        .gnb_pc li ul {
            display: none;
            animation: menuAni 0.6s;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 5px;
            padding: 32px;
            background: #fff;
            text-align: left;
            box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 20%);
        }
        @keyframes menuAni {
           	0% {
            opacity: 0;
            }
            100% {
            opacity: 1;
            }
        }
        .gnb_pc .over:hover ul {
            display: block;
        }
        .gnb_pc li ul li {
            display: block; 
            min-width: auto;
            min-height: auto;
            margin: 0 0 14px 0;
        }
        .gnb_pc li a:hover {
            color: #fff;
        }
        .gnb_pc li ul li a:hover {
            color: rgba(0,0,0,0.87);
        }
        .gnb_pc li ul li a {
            overflow: visible !important;
            display: block;
            position: relative !important;
            top: auto !important;
            left: auto !important;
            width: auto !important;
            height: auto !important;
            margin: 0;
            font-size: 16px;
            color: rgba(0,0,0,0.87);
        }
        .gnb_pc li ul li a span{
            display:inline-block;
            padding-left:6px;
            font-weight:bold;
            color:rgb(230,28,81)
        }
        .gnb_pc li ul li:last-child {
            margin-bottom: 0;
        }
        .gnb_pc li a {
            display: inline-block;
            font-size: 18px;
            color: rgba(255, 255, 255, 0.8);
            letter-spacing: 0;
            text-decoration: none;
        }
        
        
        div, ul {
        	margin: 0;
		    padding: 0;
		    border: 0;
		    box-sizing: border-box;
        }
        #content {
		    overflow: hidden;
		}
		.sub_wrap .sub_title {
		    display: none;
		    position: relative;
		    height: 44px;
		    background: #fff;
		    font-size: 18px;
		    line-height: 44px;
		    text-align: center;
		    margin: 0;
		    padding: 0;
		    border: 0;
		    box-sizing: border-box;
		}
        .sub_wrap nav {
		    display: block;
		    float: left;
		    width: 238px;
		    padding-left: 31px;
		}
        ul, ol, li {
		    list-style: none;
		}
		.sub_wrap nav ul li {
		    margin-bottom: 26px;
		}
		.sub_wrap nav ul li a {
		    display: block;
		    font-size: 18px;
		    color: rgba(0, 0, 0, 0.56);
		    text-decoration: none;
		}    
        .sub_wrap .align_rt {
		    float: right;
		    width: 724px;
		    margin-right: 31px;
		}
        .reserve_list {
		    padding: 0;
		    border: none;
		}
		.reserve_list section:first-child {
		    padding-top: 0;
		}
		.reserve_list section {
		    clear: both;
		    border-bottom: none;
		}
		.reserve_list h3 {
		    display: block;
		    padding: 0 0 20px 0;
		    font-size: 18px;
		}
		.list_wrap {
		    overflow: hidden;
		}
		.reserve_list li {
		    float: left;
		    width: 354px;
		    height: auto;
		    margin: 0 16px 16px 0;
		    position: relative;
		}
		.reserve_list li .pic {
		    height: 184px;
		    border-radius: 2px 2px 0 0;
		    overflow: hidden;
		    position: relative;
		    z-index: 10;
		    width: 100%;
		}
		
		.reserve_list li .align {
		    position: absolute;
		    top: 50%;
		    transform: translateY(-50%);
		    left: 0;
		    width: 100%;
		}
		img {
		    border: 0;
		    margin: 0;
    		padding: 0;
    		box-sizing: border-box;
		}
		.reserve_list li a.product-title {
		    display: block;
		    position: relative;
		    top: 0;
		    left: 0;
		    z-index: 10;
		    width: 100%;
		    height: auto;
		    padding: 0;
		    border: 1px solid rgba(0,0,0,.08);
		    border-top: none;
		    border-radius: 0 0 2px 2px;
		    background: none;
		    color: rgba(0,0,0,.87);
		    text-align: center;
		    text-decoration: none;
		}
		.reserve_list li a i {
		    display: inline-block;
		    margin-bottom: 10px;
		    margin-top: 24px;
		    margin-bottom: 10px;
		    height: 18px;
		    padding: 1px;
		    font-size: 14px;
		    font-style: normal;
		    color: #fff;
		    background: rgb(255, 43, 92);
		}
		.reserve_list li a strong {
		    font-size: 20px;
		    display: block;
		    margin: 0;
		    padding: 0;
		    border: 0;
		    box-sizing: border-box;
		}
		.reserve_list li a span {
		    padding: 0 0 20px 0;
		    font-size: 18px;
		    display: block;
		}
		.reserve_list li a b {
		    display: none;
		    margin: 0;
		    padding: 0;
		    border: 0;
		    box-sizing: border-box;
		}
		.reserve_list section {
		    clear: both;
		    border-bottom: none;
		    padding-top: 35px;
		}
		.reserve_list h3 {
		    display: block;
		    padding: 0 0 20px 0;
		    font-size: 18px;
		}
		.list_wrap {
		    overflow: hidden;
		}
		.reserve_list section:last-child {
		    border-bottom: none;
		}
		.reserve_list section {
		    clear: both;
		}
		.reserve_list h3 {
		    display: block;
		    padding: 0 0 20px 0;
		    font-size: 18px;
		}
		.list_wrap {
		    overflow: hidden;
		}
				
		
		
        
        footer {
            overflow: hidden;
            margin-top: 120px;
            padding: 63px 31px 40px 31px !important;
            border-top: 1px solid rgba(0,0,0,0.08);
            background: rgb(245,245,245);
            font-size: 13px;
            line-height: 20px;
            color: rgba(0,0,0,0.38);
        }
        footer a {
            color: rgba(0,0,0,0.38);
        }
        footer .align {
            width: 1024px;
            margin: 0 auto;
        }
        footer .link {
            overflow: hidden;
        }
        footer .link li {
            float: left;
            margin-bottom: 5px;
            line-height: normal;
        }
        footer .link li span {
            display: inline-block;
            position: relative;
            top: -2px;
            width: 24px;
            font-size: 11px;
            text-align: center;
        }
        footer .link li:nth-of-type(3) a {
            color: rgba(0,0,0,0.87);
        }
        footer .link li:nth-child(5), footer .link li:nth-child(8) {
            clear: none;
        }
        footer .link li button {
            font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
            font-size: 13px;
            padding: 0;
            border: none;
            background: none;
            line-height: 1;
            color: rgba(0,0,0,0.38);
        }
        footer .link li:nth-child(6) {
            clear: both;
        }
        footer .link li:nth-child(6) {
            clear: both;
        }
        footer .link li:last-child {
            margin-bottom: 0;
        }
        footer p {
            clear: both;
            padding: 37px 0 24px 0;
        }
        footer p b {
            display: inline-block;
            margin-right: 10px;
        }
        footer p span {
            display: inline-block;
        }
        address {
            font-style: normal;
            font-weight: normal;
        }
        footer address {
            display: inline-block;
            line-height: 22px;
        }
        footer address span {
            display: block;
            padding-bottom: 7px;
        }
        footer address .order {
            display: block;
            padding: 6px 0;
        }
        .btn_go_top {
            display: block;
            position: fixed;
            bottom: 15px;
            right: 15px;
            z-index: 20;
            width: 40px;
            height: 40px;
            border: none;
            cursor: pointer;
            background: url("https://image.goodchoice.kr/images/web_v3/ico_top.png") 0 0 no-repeat;
            background-size: 40px auto;
            text-indent: -9999px;
        }
        ul, ol, li {
            list-style: none;
        }
        .sub_top_wrap {
            height: 211px;
            background: #f7323f;
        }
        .sub_top {
            width: 1024px;
            height: 211px;
            margin: 0 auto;
            padding-top: 72px;
            border-radius: 0;
            background: none;
            position: relative;
        }
        .sub_top h2 {
            display: block;
            margin: 21px 0 0 31px;
            font-size: 38px;
            font-weight: normal;
            letter-spacing: -1px;
            color: #fff;
        }
        #content {
            overflow: hidden;
        }
        .my_wrap {
            padding-top: 54px;
        }
        .sub_wrap {
            min-height: 390px;
        }
        .sub_wrap {
            width: 1024px !important;
            margin: 0 auto 0 auto;
            padding-bottom: 50px;
        }
        .sub_wrap .sub_title {
            display: none;
            position: relative;
            height: 44px;
            background: #fff;
            font-size: 18px;
            line-height: 44px;
            text-align: center;
        }
        .sub_wrap nav {
            display: block;
            float: left;
            width: 238px;
            padding-left: 31px;
        }
        .sub_wrap nav ul li {
            margin-bottom: 26px;
        }
        .sub_wrap nav ul li a {
            display: block;
            font-size: 18px;
            color: rgba(0,0,0,0.56);
            text-decoration: none;
        }
        .sub_wrap .align_rt {
            float: right;
            width: 724px;
            margin-right: 31px;
        }
        .mypage {
            border-top: none;
            padding: 0;
            font-size: 18px;
            overflow: hidden;
        }